header {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.header-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000; 
    padding: 10px;
}

.header-icons a {
    background-color: rgb(15, 15, 16); 
    padding: 10px; 
    border-radius: 5px;
    margin: 0 5px; 
    transition: background-color 0.3s ease; 
}

.header-icons a img {
    height: 30px;
    width: auto;
}

.header-icons a:first-child {
    margin-right: 5px; 
}

.header-icons a:hover {
    background-color: lightblue;
}

.header-icons a:last-child {
    margin-left: 5px;
}

.header-icons img {
    height: 30px; 
    width: auto;
}

.header-icons span {
    flex-grow: 1; 
    color: #ff0000;
    font-size: 24px;
    margin: 0 20px;  
    background-color: transparent; 
    padding: 10px 0; 
    font-weight: bold;
}

#header-image {
    max-width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
}

h2 {
    text-align: center; 
    background-color: #f2f2f2; 
    color: red; 
    margin: 0; 
    padding: 10px; 
    width: 100%; 
}

@media (max-width: 600px) {
    #header-image {
        width: 100%; 
    }
}

@media screen and (max-width: 600px) {
    .header-icons img {
        height: 20px; 
    }
}

footer {
    background-color: #000; 
    padding: 10px 0; 
    text-align: center; 
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
}

.footer-icons {
    display: flex;
    justify-content: center;
    padding: 5px 20px; 
    width: 100%;
}

.footer-button {
    text-align: center; 
    padding: 20px; 
}

.footer-icons a {
    background-color: rgb(0, 0, 0);
    margin: 0 70px; 
    display: inline-block;
    border-radius: 5px;
    transition: background-color 0.3s ease; 
}

.footer-icons a:hover {
    background-color: blue; 
    filter: brightness(5); 
}

.footer-icons img {
    height: 30px; 
    width: auto; 
    vertical-align: middle; 
}

.btn {
    display: inline-block; 
    padding: 10px 20px; 
    margin-top: 10px; 
    background-color: #007bff; 
    color: white; 
    text-align: center; 
    text-decoration: none; 
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.btn:hover {
    background-color: red; 
}

.header-content {
    text-align: center; /* Centrer le contenu */
    background-color: #f2f2f2; /* Couleur de fond gris clair */
    padding: 20px; /* Espacement autour du contenu */
}

.header-content h2 {
    color: red; /* Couleur du texte pour h2 */
    margin: 0; /* Aucune marge externe pour le h2 */
}

#header-image {
    max-width: 100%; /* S'assurer que l'image ne dépasse pas la largeur du conteneur */
    height: auto; /* Hauteur automatique pour conserver les proportions */
}

#programme-sportif {
    width: 80%; /* Largeur de la section */
    margin: 0 auto; /* Centrer la section */
    padding: 20px; /* Espacement autour du contenu de la section */
}

article {
    margin-bottom: 20px; /* Espacement entre les articles */
    overflow: auto; /* Pour gérer correctement les images flottantes */
}

article img {
    width: 30%; /* Largeur des images dans les articles */
    float: left; /* Aligner les images à gauche */
    margin-right: 20px; /* Espacement à droite des images */
}

article h3 {
    color: #333; /* Couleur du texte pour h3 */
    margin-top: 0; /* Réduire l'espacement en haut de h3 */
}

.texte-rouge {
    color: red; /* Couleur rouge pour le texte spécifique */
}

.exercise-right img {
    float: right; /* Aligner les images à droite */
    margin-left: 20px; /* Espacement à gauche des images */
}

.exercise-right p {
    text-align: justify; /* Justifier le texte */
}

.exercise-right:after {
    content: "";
    display: table;
    clear: both;
}

.texte-separe {
    border-top: 1px solid #000; /* Ligne séparatrice */
    padding-top: 10px; /* Espacement en haut */
    margin-top: 10px; /* Espacement en bas */
}
